@import url("https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap");

* {
  font-family: "Merriweather", serif;
  font-size: 16px;
}
body {
  overflow-x: hidden;
}
.App {
  background-color: #d27575;
  display: flex;
  flex-flow: column;
  width: 100vw;
  align-items: center;
  box-sizing: border-box;
  padding: 1rem;
  min-height: 100vh;
  .TitleSection {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    margin-bottom: 1rem;
    h1.title {
      font-size: 2.5em;
      text-align: center;
      color: #ffe0e0;
    }
    input[type="text"] {
      box-sizing: border-box;
      width: 100%;
      max-width: 300px;
      padding: 10px 20px;
      border-radius: 50px;
      border: none !important;
      outline: none;
      background-color: #d27575;
      box-shadow: 6px 6px 16px 0 #b25353, -2px -2px 18px 0 #f1a6a6;
      font-family: "Lato", sans-serif;
      font-size: 1em;
      color: #ffe0e0;
      margin-bottom: 30px;
    }
    button.search {
      box-sizing: border-box;
      width: 100%;
      max-width: 300px;
      padding: 10px 20px;
      border-radius: 50px;
      border: none !important;
      outline: none;
      background-color: #49448d;
      box-shadow: 6px 6px 16px 0 #b25353, -2px -2px 18px 0 #f1a6a6;
      font-family: "Lato", sans-serif;
      font-size: 1em;
      color: #d3d1f8;
      margin-top: 0px;
      cursor: pointer;
    }
  }
  .DisplaySection {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    .typewriter h1 {
      color: #ffe0e0;
      font-weight: 300;
      overflow: hidden; /* Ensures the content is not revealed until the animation */
      border-right: 0.15em solid #9750c0; /* The typwriter cursor */
      white-space: nowrap; /* Keeps the content on a single line */
      margin: 0 auto; /* Gives that scrolling effect as the typing happens */
      letter-spacing: 0.15em; /* Adjust as needed */
      animation: typing 3.5s steps(30, end), blink-caret 0.5s step-end infinite;
    }
    h5.type {
      font-family: "Lato", sans-serif;
      text-align: center;
    }
    h2.word {
      font-size: 2em;
      color: #ffe0e0;
      margin-bottom: 0px;
    }
    p.result-text {
      font-family: "Lato", sans-serif;
      text-align: center;
      font-size: 1em;
      color: #ffe0e0;
      .result-title {
        font-weight: 700;
      }
    }
    .synonyms {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      padding-top: 30px;
      p {
        color: #ffe0e0;
        font-weight: 700;
        margin: 0px;
      }
      .synonym {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        font-family: "Lato", sans-serif;
        color: #ffe0e0;
        p {
          font-family: "Lato", sans-serif !important;
          margin: 0px;
          font-weight: 400;
        }
      }
    }
  }

  /* The typing effect */
  @keyframes typing {
    from {
      width: 0;
    }
    to {
      width: 100%;
    }
  }

  /* The typewriter cursor effect */
  @keyframes blink-caret {
    from,
    to {
      border-color: transparent;
    }
    50% {
      border-color: orange;
    }
  }
}
